*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General styles */

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  color: #4e5150;
  font-size: 1rem;
  line-height: 1.6;
}

.container {
  margin: 1.25em auto;
  padding: 0.2em;
  width: 95%;
  text-align: center;
}

.user-profile {
  width: 90%;
  margin: 0.5em auto 2.25em;
}

.user-profile__info {
  width: 60%;
  margin: 0 auto 0.75em;
  padding: 0em;
}

.user-profile__info__picture {
  width: 105px;
  border-radius: 10%;
}

.user-profile__info__name {
  font-size: 0.9rem;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

.user-profile__info__location {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  font-size: 0.6rem;
  color: #a9a9a9;
}

.user-profile__stats {
  max-width: 80%;
  margin: 0.1em auto;
  padding: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}

.user-profile__stats__unit {
  padding: 0.4em 0.9em;
  background-color: #e5e5e5;
  margin: 0.2em 0.3em;
  border-radius: 20%;
}

.user-profile__stats__unit__number {
  font-size: 0.7rem;
  padding: 0;
  margin: 0.2em 0 0em;
}

.user-profile__stats__unit__metric {
  color: #bdbdbd;
  font-size: 0.7rem;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.4em;
}

.image-gallery {
  width: 100%;
  margin: 2em auto 3em;
  /* overflow: hidden; */
}

.image-gallery__grid {
  display: grid;
  grid-template-areas:
    'one two two'
    'three three four'
    'five six four';
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 1em;
}

.image-gallery__grid__img {
  max-width: 100%;
  /* object-fit: cover; */
  height: auto;
  border-radius: 5%;
  -webkit-box-shadow: 11px 9px 20px -18px rgba(20, 19, 20, 1);
  -moz-box-shadow: 11px 9px 20px -18px rgba(20, 19, 20, 1);
  box-shadow: 11px 9px 20px -18px rgba(20, 19, 20, 1);
}

.img-1 {
  grid-area: one;
}
.img-2 {
  grid-area: two;
}
.img-3 {
  grid-area: three;
}
.img-4 {
  grid-area: four;
}
.img-5 {
  grid-area: five;
}
.img-6 {
  grid-area: six;
}

.footer {
  margin: 2em auto 0.5em;
}

.footer__text {
  color: #a9a9a9;
  font-size: 0.75rem;
}
